@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 89, 98, 105;
  --background-rgb: 238, 244, 250;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 89, 98, 105;
    --background-rgb: 238, 244, 250;
  }
}

* {
  font-family: 'Noto Sans JP';
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

h1,h2,h3,h4,h5 {
  color: #2E3F51;
}

h3 {
  font-size: 20px;
  line-height: 26px;
}

h4 {
  font-size: 16px;
  line-height: 21px;
}

.ready {
  border: 1px solid rgb(66 153 225);
  box-shadow: 0 0 4px 0.8px rgb(66 153 225 / 0.5);
}

.blocked {
  opacity: 0.5;
  pointer-events: none;
}
